@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.loader {
  display: flex;
  font-size: 104px;
  z-index: 10000;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  min-height: 100vh;
  animation: fadeIn 0.5s ease-in-out;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.fade-out {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

@keyframes blink {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

.loader span {
  animation: blink 1.4s infinite;
  color: var(--accent-color);
  opacity: 0.3;
}

.loader span:nth-child(1) {
  animation-delay: 0s;
}
.loader span:nth-child(2) {
  animation-delay: 0.2s;
}
.loader span:nth-child(3) {
  animation-delay: 0.4s;
}
.loader span:nth-child(4) {
  animation-delay: 0.6s;
}
.loader span:nth-child(5) {
  animation-delay: 0.8s;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.rounded {
  width: 40px;
  height: 40px;
  border: 3px solid transparent;
  border-top: 3px solid #000;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  transition: opacity 0.3s ease-in-out;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  opacity: 0;
  display: none;
}

.visible {
  opacity: 1;
  display: flex;
}
