.scrollToTop {
  background-color: var(--primary-text-color);
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 0;
  visibility: hidden;
}

.scrollToTop.visible {
  opacity: 1;
  visibility: visible;
}

.scrollToTop:hover {
  background-color: var(--primary-hover-color);
  transform: scale(1.2);
}


