.filterButton {
  display: none;
}

@media screen and (max-width: 768px) {
  .filterButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: solid 1px var(--primary-text-color) !important;
    border: none;
    padding: 8px 12px;
    border-radius: 30px;
    cursor: pointer;
    color: var(--primary-text-color) !important;
  }

  .filterButton span {
    margin-left: 5px;
    font-size: 13px;
    line-height: 18px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .filterButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: solid 1px var(--primary-text-color) !important;
    border: none;
    padding: 8px 12px;
    border-radius: 30px;
    cursor: pointer;
    color: var(--primary-text-color) !important;
  }

  .filterButton span {
    margin-left: 5px;
    font-size: 13px;
    line-height: 18px;
  }
}
