.searchContainer {
  display: flex;
  align-items: center;
}

.searchBar {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 50px;
  padding: 8px 16px;
  min-width: 300px;
}

.searchInput {
  border: none;
  outline: none;
  flex-grow: 1;
  font-size: 14px;
  color: #333;
  background-color: transparent;
}

.closeIcon {
  font-size: 20px;
  cursor: pointer;
  margin-left: 8px;
}

.searchIcon {
  position: relative;
  width: 20px;
  height: auto;
}

.closeIcon:hover,
.searchIcon:hover{
  cursor: pointer;
}
