.active {
  font-weight: bold;
}

.navList {
  display: flex;
  gap: 37px;
}

.navList li {
  list-style: none;
}

.navList a,
.navList span {
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: 18px;
  line-height: 24px;
  transition: 0.2s ease-in-out;
}

.navList a:hover,
.navList span:hover {
  cursor: pointer;
  color: var(--secondary-text-color);
}

