.headerLogo {
  font-size: 42px;
  line-height: 28px;
  transition: 0.2s ease-in-out;
}

@media (hover: hover) and (pointer: fine) {
  .headerLogo:hover {
    cursor: pointer;
    color: var(--accent-color);
  }
}

@media screen and (max-width: 1024px) {
  .headerLogo:active {
    color: var(--accent-color);
  }
}
