/* src/components/Mixer/Mixer.module.css */

/* .page {
  min-height: 100vh;
  background: #ffffff;
} */

.container {
  /* max-width: 1500px; */
  margin: 0 auto;
  padding: 48px 32px;
}

.title {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 16px;
}

@media (min-width: 1024px) {
  .title {
    font-size: 2.5rem;
    margin-top: 5rem;
    margin-bottom: 8px;
  }
}

.headerRow {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3rem;
}

@media (min-width: 1024px) {
  .headerRow {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 6rem;
  }
}

.textBlock {
  max-width: 60rem;
  font-size: 0.9rem;
  line-height: 1.6;
}

@media (min-width: 1024px) {
  .textBlock {
    font-size: 1.1rem;
  }
}

.catalogBtnWrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.catalogBtn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem 1.5rem;
  border: 1px solid #000;
  border-radius: 999px;
  text-decoration: none;
  font-size: 0.9rem;
}

.mixerWrapper {
  width: 100%;
  margin-bottom: 3rem;
}

/* Палитра */

.subtitle {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 2.5rem;
}

@media (min-width: 1024px) {
  .subtitle {
    font-size: 2.5rem;
    margin-top: 5rem;
    margin-bottom: 4rem;
  }
}

.colorsGrid {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 0.75rem;
  margin-bottom: 3rem;
}

@media (min-width: 1024px) {
  .colorsGrid {
    grid-template-columns: repeat(10, minmax(0, 1fr));
    gap: 1.25rem;
    margin-bottom: 5rem;
  }
}

.colorItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.colorCircle {
  border-radius: 999px;
  width: 2.5rem;
  aspect-ratio: 1 / 1;
}

@media (min-width: 640px) {
  .colorCircle {
    width: 3.5rem;
  }
}

@media (min-width: 1024px) {
  .colorCircle {
    width: 4rem;
  }
}

@media (min-width: 1280px) {
  .colorCircle {
    width: 6rem;
  }
}

.colorText {
  font-weight: 700;
  text-align: center;
  line-height: 1.2;
  padding-top: 0.25rem;
}

.colorName {
  font-size: 0.75rem;
}

@media (min-width: 1024px) {
  .colorName {
    font-size: 1rem;
  }
}

.colorMeta {
  font-size: 0.7rem;
  color: #aaa9a9;
}

@media screen and (max-width: 768px) {
  .container {
    margin: 0 auto;
    padding: 32px 16px;
  }
}
