.parkfitWrapper h2 {
  font-size: 60px;
  line-height: 72px;
}

.backgroundImage {
  background-image: url("/assets/images/parkfit-solution/gibkie-podvesy-eq.avif");
  background-repeat: no-repeat;
  background-size: 1000px;
  background-position: -360px 50px;
}

@media screen and (max-width: 768px) {
  .parkfitWrapper {
    padding-bottom: 32px;
  }
  .parkfitWrapper h2 {
    font-size: 26px;
    line-height: 32px;
  }

  .backgroundImage {
    background-image: none;
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: -100px 0px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .parkfitWrapper {
    padding-bottom: 32px;
  }
  .parkfitWrapper h2 {
    font-size: 42px;
    line-height: 48px;
  }
}
