.categories {
  min-width: 200px;
  padding-right: 32px;
}

.categories h4 {
  padding-bottom: 16px;
}

.categories ul {
  list-style-type: none;
  padding: 0;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.categories li:last-child {
  border-bottom: none;
}

.categories li:hover {
  color: var(--secondary-hover-color);
  cursor: pointer;
}
