.overlay {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  position: relative;
  max-width: 90vw;
  max-height: 90vh;
}

.image {
  max-width: 100%;
  max-height: 700px;
  display: block;
  margin: 0 auto;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}

.prevButton {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  color: #fff;
  font-size: 50px;
  cursor: pointer;
  user-select: none;
}

.nextButton {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  color: #fff;
  font-size: 50px;
  cursor: pointer;
  user-select: none;
}
