.wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 32px;
  padding: 160px 32px;
}

.card {
  width: 48%;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-default-color);
}

.imageWrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.title {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  margin: 0;
}

.text {
  padding: 24px;
  font-size: 26px;
  line-height: 32px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media screen and (max-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 100px 16px;
  }
  .card {
    width: 100%;
  }
  .text {
    padding: 12px 16px;
    font-size: 13px;
    line-height: 18px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .card {
    width: 100%;
  }
}
