.relatedProjects {
  font-size: 16px;
  overflow-x: auto;
  white-space: nowrap;
  padding-left: 32px
}

.relatedProjects h2{
  font-size: 34px;
  line-height: 40px;
  padding-bottom: 32px;
}

.projectList {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding-bottom: 10px;
  white-space: nowrap;
}

.projectItem {
  cursor: pointer;
  flex-shrink: 0;
}

.projectItem:hover {
  cursor: pointer;
}

.projectImage {
  max-height: 300px;
  object-fit: cover;
}

@media (max-width: 768px){
  .relatedProjects {
    padding-left: 16px
  }

  .relatedProjects h2{
    font-size: 26px;
    line-height: 32px;
    padding-bottom: 16px;
  }

  .projectImage {
    max-width: 280px;
    height: auto;
    object-fit: cover;
  }
}
