@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeIn {
  animation: fadeIn ease 0.5s;
  animation-fill-mode: forwards;
}

.catalogContainer {
  background-color: var(--bg-border-color);
  padding: 36px 0 160px 32px;
}

.catalogWrapper {
  display: flex;
}

.category__title {
  font-size: 20px;
  margin-bottom: 20px;
}

.productContainer {
  display: flex;
  background-color: var(--bg-border-color);
}

.productWrapper {
  display: flex;
  flex-direction: column;
}

.product__list {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  gap: 20px;
  padding-left: 0;
}

.productItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 260px;
  list-style: none;
  padding-top: 20px;
  position: relative;
}

.product__image {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  border: 1px solid var(--bg-border-color);
  min-height: 240px;
  max-height: 250px;
  width: 100%;
  background-color: white;
}

.colorSwatches {
  display: flex;
  opacity: 0;
  position: absolute;
  padding-top: 10px;
  left: 10px;
  transition: 0.1s ease-in-out;
}
.productItem:hover {
  cursor: pointer;
}
.productItem:hover .colorSwatches {
  opacity: 1;
  cursor: pointer;
}
.colorCircle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 4px;
  transition: 0.2s ease-in-out;
}

.colorCircle:hover {
  width: 32px;
  border-radius: 32px;
}

/* .productItem div {
  display: flex;
  flex-direction: column;
  gap: 2px;
} */

.productTitle {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 22px;
}

.productName {
  color: var(--primary-text-color);
  font-size: 26px;
  line-height: 32px;
  font-weight: bold;
}

.showMoreContainer {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.showMoreContainer p {
  margin: 0;
}

.showMoreButton {
  padding: 10px 22px;
  font-size: 18px;
  line-height: 24px;
  border: none;
  border-radius: 30px;
  color: var(--bg-default-color);
  background-color: var(--primary-default-color);
}

.showMoreButton:hover {
  cursor: pointer;
}

.brandWrapper {
  min-width: 160px;
}

.pageTitle {
  margin: 0px;
  padding-bottom: 10px;
}

/* FILTERS */

.filterControls {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}

.activeFilters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.filterTag {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 8px 12px 8px 14px;
  max-width: 330px;
  border-radius: 30px;
  color: var(--bg-default-color);
  cursor: pointer;
  font-size: 14px;
  background-color: var(--primary-default-color);
  font-weight: 100;
  gap: 6px;
  border: none;
}

.filterTag:active {
  background-color: var(--primary-hover-color);
}

.filterTag svg {
  background-color: var(--primary-hover-color);
  border-radius: 50%;
  padding: 2px;
  color: var(--primary-default-color);
}

@media (min-width: 728px) and (max-width: 1024px) {
  .product__list {
    grid-template-columns: repeat(3, 1fr);
    padding-right: 32px;
  }
}

/* @media (min-width: 1024px) and (max-width: 1440px) {
  .product__list {
    padding-right: 32px;
  }
} */

@media (min-width: 728px) and (max-width: 768px) {
  .productContainer {
    flex-direction: column;
  }
}

@media screen and (max-width: 728px) {
  .product__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .productContainer {
    padding: 16px 16px 160px 16px;
    flex-direction: column;
  }

  .productTitle {
    font-size: 11px;
    line-height: 14px;
  }
  .productName {
    font-size: 16px;
    line-height: 22px;
  }

  .showMoreButton {
    padding: 11px 20px;
    font-size: 16px;
    line-height: 22px;
  }
}

@media screen and (min-width: 1500px) {
  .product__list {
    grid-template-columns: repeat(5, 1fr);
  }
}
