.conceptSection {
  padding: 160px 32px 0px 32px;
}

.conceptWrapper {
  display: flex;
  justify-content: space-between;
}

.conceptSection h2 {
  margin-bottom: 64px;
}

.textBlock {
  flex: 1;
  max-width: 670px;
}

.textBlock p {
  margin-bottom: 12px;
  font-size: 24px;
  line-height: 32px;
}

.textBlock a {
  color: var(--accent-color);
}

.imageBlock {
  flex-shrink: 0;
  max-width: 550px;
}

.conceptImage {
  display: block;
  width: 100%;
  height: auto;
}

.textBlock button {
  margin-top: 52px;
  padding: 12px 64px;
  background-color: black;
  font-size: 26px;
  line-height: 32px;
  border-radius: 32px;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.textBlock button:hover {
  background-color: #555;
}

@media screen and (max-width: 768px) {
  .conceptSection {
    padding: 100px 16px 0px 16px;
  }

  .conceptWrapper {
    flex-direction: column;
    gap: 24px;
  }

  .conceptSection h2 {
    margin-bottom: 16px;
  }

  .textBlock p {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 22px;
  }

  .textBlock button {
    margin-top: 40px;
    padding: 9px 40px;
    background-color: black;
    font-size: 16px;
    line-height: 22px;
    border-radius: 32px;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px)  {
  .conceptWrapper {
    flex-direction: column;
    gap: 52px;
  }
  .textBlock button {
    margin-top: 32px;
  }
}
