.equipmentContainer {
  width: 100%;
  margin: 0 auto;
  padding: 40px 32px;
  box-sizing: border-box;
}

.hammockSection {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  max-width: 60%;
}

.equipmentDescription {
  font-size: 26px;
  line-height: 32px;
  padding-bottom: 44px;
  max-width: 670px;
}

.characterWrapper {
  position: absolute;
  right: 450px;
  bottom: 100px;
  z-index: 1;
}

.characterWrapper img {
  width: 110px;
}

.eyesContainer {
  position: absolute;
  top: 30%;
  right: 13%;
  display: flex;
  gap: 2px;
  width: 100%;
  justify-content: center;
  pointer-events: none;
  transform: rotate(-40deg);
}

.characterArm {
  position: absolute;
  right: 480px;
  bottom: 150px;
  height: 24px;
  z-index: 5;
  pointer-events: none;
}

.eye {
  width: 9px;
  height: 14px;
  background: white;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.pupil {
  width: 6px;
  height: 9px;
  background: black;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
}

.hammockImage {
  position: relative;
  z-index: 2;
  width: 100%;
  max-height: 500px;
}

.ageBlock {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.ageItem {
  display: flex;
  align-items: center;
  gap: 32px;
}

.ageLabel {
  display: inline-block;
  font-size: 34px;
  line-height: 40px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}

.ageDescription {
  font-size: 26px;
  line-height: 32px;
  max-width: 520px;
}

@media screen and (max-width: 768px) {
  .equipmentContainer {
    padding: 16px;
  }
  .equipmentDescription{
    max-width: none;
    font-size: 16px;
    line-height: 22px;
  }
  .hammockSection {
    flex-direction: column;
  }

  .balanceSection {
    flex-direction: column;
  }
  .balanceImage {
    max-width: 300px;
  }
  .textWrapper{
    max-width: none;
  }

  .ageLabel{
    font-size: 18px;
    line-height: 24px;
  }

  .ageDescription{
    font-size: 16px;
    line-height: 22px;
  }

  .characterWrapper{
    display: none;
  }

  .characterArm{
    display: none;
  }
}
