.equipmentContainer {
  width: 100%;
  margin: 0 auto;
  padding: 40px 32px;
  box-sizing: border-box;
}

.hammockSection {
  position: relative;
  display: flex;
  align-items: center;
  gap: 140px;
  justify-content: space-between;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  max-width: 60%;
}

.equipmentDescription {
  font-size: 26px;
  line-height: 32px;
  padding-bottom: 44px;
  max-width: 670px;
}
.hammockVisualContainer {
  position: relative;
  /* width: 100%; */
  max-width: 600px;
  margin: 0 auto;
}
.characterWrapper {
  position: absolute;
  left: 8%;
  bottom: 30px;
  transform: translateX(-50%);
  z-index: 2;
}

.characterArm {
  position: absolute;
  left: 9%;
  bottom: 80px;
  transform: translateX(-50%);
  height: 24px;
  z-index: 4;
}

.hammockImage {
  position: relative;
  z-index: 3;
  height: 500px;
}

.characterWrapper img {
  width: 110px;
}

.eyesContainer {
  position: absolute;
  top: 30%;
  right: 13%;
  display: flex;
  gap: 2px;
  width: 100%;
  justify-content: center;
  pointer-events: none;
  transform: rotate(-40deg);
}

.eye {
  width: 9px;
  height: 14px;
  background: white;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.pupil {
  width: 6px;
  height: 9px;
  background: black;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
}

.ageBlock {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.ageItem {
  display: flex;
  align-items: center;
  gap: 32px;
}

.ageLabel {
  display: inline-block;
  font-size: 34px;
  line-height: 40px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}

.ageDescription {
  font-size: 26px;
  line-height: 32px;
  max-width: 520px;
}

@media screen and (max-width: 768px) {
  .equipmentContainer {
    padding: 80px 16px 0px 16px;
  }
  .equipmentDescription {
    max-width: none;
    font-size: 16px;
    line-height: 22px;
  }
  .hammockSection {
    flex-direction: column;
  }

  .hammockImage {
    max-height: 220px;
  }

  .balanceSection {
    flex-direction: column;
  }
  .textWrapper {
    max-width: none;
  }

  .ageBlock {
    gap: 24px;
    margin-bottom: 40px;
  }

  .ageLabel {
    font-size: 18px;
    line-height: 24px;
  }

  .ageDescription {
    font-size: 16px;
    line-height: 22px;
  }

  .characterWrapper {
    display: none;
  }

  .characterArm {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .hammockSection {
    flex-direction: column;
    align-items: start;
  }

  .textWrapper {
    max-width: none;
    padding-bottom: 40px;
  }

  /* .equipmentDescription{
    max-width: none;
  } */
}

@media screen and (min-width: 768px) and (max-width: 1024px)  {
  .hammockSection {
    gap: 10px;
  }
}
