.materialsWrapper {
  padding: 160px 32px 0px 32px;
}

.materialsWrapper h2 {
  padding-bottom: 36px;
}

.materialsContainer {
  display: flex;
  justify-content: space-between;
}

.stripsContainer {
  display: flex;
  width: 45%;
  height: 500px;
  overflow: hidden;
}

.strip {
  flex: 1;
  cursor: pointer;
  transition: flex 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 32px;
}

.active {
  flex: 5;
}

.strip img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.strip:hover img {
  transform: scale(1.05);
}

.infoContainer {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.infoContainer h3 {
  padding-bottom: 8px;
  font-size: 34px;
  line-height: 40px;
}

.infoContainer p {
  font-size: 26px;
  line-height: 32px;
}

.iconsContainer {
  display: flex;
  gap: 28px;
  margin-top: 16px;
  flex-wrap: wrap;
}

.iconItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80px;
  text-align: center;
}

.iconImage {
  width: 56px;
  height: auto;
  object-fit: contain;
}

.iconLabel {
  margin-top: 4px;
  font-size: 18px;
  line-height: 24px;
}

.mobileSlider {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 16px;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: black;
}

.dots {
  display: flex;
  gap: 8px;
  padding: 0px 24px;
}

.dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;

  transition: background-color 0.2s ease;
}

.activeDot {
  background-color: #555;
}

@media screen and (max-width: 768px) {
  .materialsWrapper {
    padding: 100px 16px 0px 16px;
  }
  .materialsWrapper h2 {
    padding-bottom: 24px;
  }
  .materialsContainer {
    flex-direction: column;
  }

  .stripsContainer {
    width: fit-content;
    height: 330px;
    margin-bottom: 25px;
  }

  .infoContainer {
    margin-top: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .infoContainer h3 {
    padding-bottom: 8px;
    font-size: 18px;
    line-height: 24px;
  }

  .infoContainer p {
    font-size: 16px;
    line-height: 22px;
  }

  .iconsContainer {
    display: flex;
    gap: 28px;
    margin-top: 16px;
    flex-wrap: wrap;
  }

  .iconItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80px;
    text-align: center;
  }

  .iconImage {
    width: 40px;
    height: auto;
    object-fit: contain;
  }

  .iconLabel {
    margin-top: 4px;
    font-size: 13px;
    line-height: 18px;
  }

  .mobileSlider {
    display: flex;
  }
}
