.relatedPostsWrapper {
  padding-top: 100px;
  padding-bottom: 160px;

}

.relatedPostsWrapper h3 {
  font-size: 34px;
  line-height: 40px;
  padding-bottom: 40px;
  padding-top: 0;
}

.relatedPostsWrapper h4 {
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 4px;
}

.relatedPostsContainer {
  display: flex;
  gap: 32px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 16px 16px 12px 16px;
  justify-content: space-between;
}

.postItem {
  background-color: var(--bg-default-color);
  transition: 0.2s ease-in-out;
  max-width: 460px;
}

.postItem:hover {
  opacity: 0.9;
}

.postItem a {
  text-decoration: none;
  color: var(--secondary-default-color);
}

.imageContainer {
  position: relative;
}

.imageContainer img {
  width: 100%;
  height: auto;
  max-height: 220px;
  object-fit: cover;
  padding: 0;
}

.postItem p {
  font-size: 18px;
  line-height: 24px;
  color: var(--secondary-default-color);
}

.postItem h4 {
  font-size: 20px;
  line-height: 24px;
  color: var(--primary-default-color);
  font-weight: bold;
}

.tagsContainer {
  position: absolute;
  bottom: 16px;
  left: 16px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.tag {
  background-color: var(--primary-default-color);
  color: white;
  border-radius: 15px;
  padding: 8px 28px;
  font-size: 14px;
}

/* Адаптив */
@media screen and (max-width: 728px) {
  .content {
    padding: 4px 12px 8px 12px;
  }
  .relatedPostsWrapper {
    padding-top: 60px;
    padding-bottom: 80px;
  }

  .relatedPostsWrapper h3 {
    font-size: 26px;
    line-height: 32px;
    padding-bottom: 20px;
  }

  .relatedPostsWrapper h4 {
    font-size: 13px;
    line-height: 18px;
  }

  .relatedPostsWrapper p {
    font-size: 11px;
    line-height: 14px;
  }

  .postItem {
    max-width: 260px;
  }

  .imageContainer img {
    max-height: 140px;
  }
  .tagsContainer {
    bottom: 12px;
    left: 12px;
    gap: 8px;
  }
  .tag {
    background-color: var(--primary-default-color);
    color: white;
    border-radius: 60px;
    padding: 6px 22px;
    font-size: 11px;
    line-height: 14px;
  }
}
