.radioLabel {
  cursor: pointer;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

.radioInput {
  display: none;
}

.radioButton {
  display: inline-flex;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-hover-color);
}

.checked {
  background-color: var(--accent-color-kinetics);
}

.checked .icon {
  filter: brightness(0) saturate(100%) invert(1);
}

.icon {
  width: 30px;
  height: 30px;
  filter: brightness(0) saturate(100%);
}
