.aboutWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 210px 150px 300px 150px;
  gap: 32px;
  background-image: url("/assets/images/playlets-solution/dog-2.avif");
  background-repeat: no-repeat;
  background-position-x: -60px;
  background-position-y: 400px;
  background-size: 20%;
}

.aboutWrapper p {
  font-size: 34px;
  line-height: 40px;
  text-align: center;
}

.highlight {
  color: var(--accent-color-playlet);
}

.linkWrapper {
  padding-top: 24px;
  display: flex;
  gap: 60px;
  font-size: 26px;
  line-height: 32px;
  justify-content: space-between;
}

.linkContainer {
  text-decoration: underline;
  display: flex;
  gap: 8px;
  transition: 0.1s ease-in-out;
  align-items: center;
}

.linkContainer:hover {
  color: var(--accent-color-playlet);
}

@media screen and (max-width: 768px) {
  .aboutWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:120px 16px;
    gap: 32px;
    background-image: none;
  }

  .aboutWrapper p {
    font-size: 18px;
    line-height: 24px;
  }

  .linkWrapper {
    padding-top: 28px;
    font-size: 18px;
    line-height: 24px;
    width: 100%;
    justify-content: space-around;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .aboutWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 160px 115px;
    gap: 32px;
    background-position-x: -40px;
    background-position-y: 350px;
    background-size: 20%;
  }

  .aboutWrapper p {
    font-size: 26px;
    line-height: 32px;
  }
}
