.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
  padding: 160px 32px 0 32px;
}

.imageBlock {
  position: relative;
  width: 45%;
}

.image {
  width: 100%;
  height: auto;
  display: block;
}

.imageCaption {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 11px;
  line-height: 14px;
  color: white;
  padding: 4px 6px;
  border-radius: 4px;
  max-width: 90%;
  text-wrap: wrap;
}

.content {
  width: 50%;
}

.description {
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 80px;
}

.highlight {
  color: var(--accent-color-playlet);
}

.iconList {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  gap: 64px 95px;
  list-style: none;
  padding: 0px 32px;
  margin: 0;
}

.iconItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  white-space: pre-line;
  font-size: 26px;
  line-height: 32px;
}

.iconItem img {
  width: 104px;
  height: auto;
  margin-bottom: 8px;
}

@media screen and (max-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-wrap: wrap;
    padding: 100px 0px;
  }

  .content {
    width: 100%;
  }

  .imageCaption {
    display: none;
  }

  .imageBlock {
    position: relative;
    width: 100%;
  }

  .description {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 16px;
    padding: 0px 16px;
  }

  .iconList {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    gap: 24px 38px;
    list-style: none;
    padding: 0px 16px;
    margin: 0;
  }

  .iconItem {
    font-size: 16px;
    line-height: 22px;
  }

  .iconItem img {
    width: 56px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .description {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 64px;
  }

  .iconList {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    gap: 104px 51px;
    list-style: none;
    padding: 0px 16px;
    margin: 0;
  }

  .iconItem {
    font-size: 18px;
    line-height: 24px;
  }
  .iconItem img {
    width: 72px;
  }

  .imageBlock {
    width: 100%;
  }

  .content {
    width: 100%;
  }
}
