.wrapper {
  padding: 160px 32px;
}

.title {
  margin-bottom: 64px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.imageContainer {
  position: relative;
}
.image {
  max-width: 700px;
  height: auto;
  display: block;
}

.labelContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.labelTop,
.labelBottom {
}

.heading {
  position: relative;
  margin-bottom: 16px;
}

.labelTop ul,
.labelBottom ul {
  margin-left: 60px;
  font-size: 26px;
  line-height: 32px;
}

/* =========================
     ЛИНИИ И ТОЧКИ
     ========================= */

.line {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  background-color: #000;
}

.labelTop .line {
  left: -540px;
  width: 500px;
}

.labelTop .line::after {
  content: "";
  position: absolute;

  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
  background-color: #000;
  border-radius: 50%;
}

.labelBottom .line {
  left: -380px;
  width: 330px;
}

.labelBottom .line::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
  background-color: #000;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: start;
    gap: 24px;
  }

  .wrapper {
    padding: 100px 16px 80px 16px;
  }

  .image {
    max-width: 340px;
    height: auto;
    display: block;
  }

  .labelContainer {
    gap: 8px;
  }

  .labelTop ul,
  .labelBottom ul {
    margin-left: 10px;
    font-size: 16px;
    line-height: 22px;
  }

  .line {
    display: none;
  }

  .title {
    margin-bottom: 32px;
  }

  .heading {
    margin-bottom: 8px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .container {
  
  }

  .wrapper {
    padding: 100px 16px 80px 16px;
  }

  .image {
    max-width: 460px;
    height: auto;
    display: block;
  }

  .labelContainer {
    gap: 8px;
  }

  .labelTop ul,
  .labelBottom ul {
    margin-left: 20px;
    font-size: 18px;
    line-height: 24px;
  }

  .title {
    margin-bottom: 48px;
  }

  .heading {
    margin-bottom: 8px;
  }

  .labelTop .line {
    left: -440px;
    width: 400px;
  }
  
  .labelBottom .line {
    left: -340px;
    width: 280px;
  }
}