.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: right;
  align-items: center;
  z-index: 2000;
}

.burgerMenu {
  background-color: white;
  max-width: 290px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
}

.burgerMenuTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 16px 36px 16px;
}

.burgerMenuTitle img {
  width: 56px;
  height: auto;
}

.burgerClose {
  font-size: 28px;
}

.burgerClose:hover {
  cursor: pointer;
}

.burgerNav {
  list-style: none;
  padding: 16px;
  flex-direction: column;
  display: flex;
  gap: 16px;
}

.burgerNav a {
  text-decoration: none;
  color: var(--primary-default-color);
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  transition: color 0.3s ease;
}
.burgerNav a:hover {
  color: var(--secondary-default-color);
}
.burgerMenuLinks {
  display: flex;
  padding-left: 16px;
  padding-bottom: calc(46px + env(safe-area-inset-bottom));
  gap: 16px;
}

.burgerMenuLinks svg {
  width: 32px;
  height: auto;
  color: var(--primary-default-color);
}
