.postWrapper {
  padding: 60px 32px;
}

.postTitleWrapper {
  display: flex;
  gap: 32px;
  align-items: center;
}

.contentWrapper {
  padding: 0px 100px;
  white-space: pre-line;
}

.postWrapper a {
  color: var(--accent-color);
}

.postWrapper a:hover {
  cursor: pointer;
}

.postWrapper h1 {
  font-size: 42px;
  line-height: 48px;
}

.postWrapper h2 {
  font-size: 34px;
  line-height: 40px;
  padding-bottom: 12px;
  padding-top: 20px;
}

.postWrapper p {
  font-size: 26px;
  line-height: 32px;
}

.postWrapper h3 {
  font-size: 26px;
  line-height: 32px;
  padding-bottom: 8px;
  padding-top: 16px;
}

.singleImageContainer {
  padding: 32px 0px;
}

.altSingle {
  color: var(--secondary-default-color);
  font-size: 18px !important;
  line-height: 24px !important;
}

.postWrapper img {
  width: 100%;
  height: auto;
  max-height: 540px;
  object-fit: cover;
}

.tagsContainer {
  padding-left: 100px;
}

.tagsWrapper {
  display: flex;
  gap: 16px;
  padding: 24px 0px;
  flex-wrap: wrap;
}

.tag {
  padding: 8px 28px;
  border-radius: 80px;
  background-color: var(--bg-default-color);
  color: var(--secondary-default-color);
  border-color: transparent;
  font-size: 16px;
  line-height: 22px;
}

.dateWrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-right: 2px solid var(--primary-default-color);
  padding-right: 15px;
}

.day {
  font-size: 26px;
  line-height: 32px;
}

.month {
  font-size: 13px;
  line-height: 18px;
  color: var(--secondary-default-color);
}

.year {
  font-size: 16px;
  line-height: 22px;
}

.quoteContainer {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  padding-bottom: 24px;
}

.quoteWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 23px;
  border-left: 3px solid var(--primary-default-color);
}

.quoteLinksContainer {
  display: flex;
  gap: 16px;
}

.quoteContainer a {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 26px;
  line-height: 32px;
  text-decoration: underline;
  color: var(--primary-default-color);
}

.quoteContainer p {
  font-size: 16px;
  line-height: 22px;
  color: var(--secondary-default-color);
}

.imageScrollContainer {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

.imageScrollContainer img {
  width: auto;
  height: 100%;
  max-height: 540px;
  object-fit: cover;
  padding: 0;
}

.scrollImage {
  padding: 20px 0px;
  position: relative;
}

.alt {
  position: absolute;
  bottom: 50px;
  left: 20px;
  color: white;
  font-size: 18px !important;
  line-height: 24px !important;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.scrollImage:hover .alt {
  opacity: 1;
}

@media screen and (max-width: 728px) {
  .postTitleWrapper {
    flex-direction: column;
    align-items: start;
    gap: 4px;
  }
  .postWrapper {
    padding: 16px;
  }
  .contentWrapper {
    padding: 0;
  }

  .altSingle {
    color: var(--secondary-default-color);
    font-size: 11px !important;
    line-height: 14px !important;
  }
  .dateWrapper {
    flex-direction: row;
    text-align: center;
    border-right: none;
    gap: 4px;
    padding: 4px 0px 16px 0px;
    order: 1;
  }

  .postWrapper h1 {
    font-size: 26px;
    line-height: 32px;
  }

  .postWrapper h2 {
    font-size: 18px;
    line-height: 24px;
  }

  .postWrapper h3,
  .postWrapper p {
    font-size: 16px;
    line-height: 22px;
  }

  .day {
    font-size: 16px;
    line-height: 22px;
    color: var(--secondary-default-color);
  }

  .month {
    font-size: 16px;
    line-height: 22px;
    color: var(--secondary-default-color);
  }

  .year {
    font-size: 16px;
    line-height: 22px;
    color: var(--secondary-default-color);
  }

  .postWrapper img {
    max-height: 230px;
  }

  .singleImageContainer {
    padding: 20px 0px;
  }

  .tagsWrapper {
    padding: 22px 0px;
  }

  .tag {
    padding: 8px 12px;
    border-radius: 80px;
    font-size: 11px;
    line-height: 14px;
  }

  .quoteContainer a {
    font-size: 16px;
    line-height: 22px;
  }

  .quoteContainer p {
    font-size: 11px;
    line-height: 14px;
    color: var(--secondary-default-color);
  }

  .quoteContainer {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .quoteContainer svg {
    width: 24px;
    height: auto;
  }

  .quoteWrapper {
    padding: 20px;
    border-left: 2px solid var(--primary-default-color);
  }

  .tagsContainer {
    padding-left: 0px;
  }
}
