.lighting {
  display: flex;
  justify-content: space-between;
  padding: 60px 32px;
  flex-direction: column;
  color: #fff;
  background: linear-gradient(to bottom, #000000 0%, #000000 25%, #e1e051 100%);
}

.leftBlock {
  display: flex;
  justify-content: space-between;
}

.title {
  color: var(--accent-color-tramptek);
  padding-bottom: 36px;
}

.description {
  font-size: 26px;
  line-height: 32px;
  padding-bottom: 32px;
}

.features {
  list-style: none;
  flex-wrap: wrap;
  gap: 20px;
  display: flex;
}

.features li {
  background-color: var(--accent-color-tramptek);
  color: var(--primary-default-color);
  padding: 12px 32px;
  border-radius: 32px;
  font-size: 18px;
  line-height: 24px;
}

.option {
  padding-top: 20px;
  font-size: 18px;
  line-height: 24px;
}

@media screen and (max-width: 768px) {
  .leftBlock {
    flex-direction: column;
  }
  .lighting {
    flex-direction: column;
    padding: 16px 16px 32px 16px;
  }

  .description {
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 20px;
  }

  .features {
    gap: 12px;
    padding-bottom: 12px;
    max-width: 80%;
  }

  .features li {
    padding: 8px 20px;
    font-size: 13px;
    line-height: 18px;
  }
  .option {
    font-size: 13px;
    line-height: 18px;
    padding-bottom: 24px;
    max-width: 80%;
  }
}

@media (min-width:769px) and (max-width:1024px) {
  .features li {
    padding: 8px 20px;
    font-size: 13px;
    line-height: 18px;
  }
  .option {
    font-size: 13px;
    line-height: 18px;
    padding-bottom: 24px;
  }
  .description {
    font-size: 18px;
    line-height: 24px;
    max-width: 80%;
  }
}
