.materialsContainer {
  position: relative;
  background-color: #e1e051;
}

.materialsContainer h2 {
  padding-bottom: 36px;
  padding-left: 32px;
}

.imageWrapper {
  position: relative;
  /* display: inline-block;
  padding: 0 32px; */
}

.cardImage {
  display: block;
  width: 100%;
  height: auto;
}

.textOverlay {
  position: absolute;
  bottom: 40px;
  left: 32px;
  width: 52%;
  color: white;
  padding: 15px;
  text-align: left;
  font-size: 26px;
  line-height: 32px;
}

.textOverlay h3 {
  color: var(--accent-color-tramptek);
  font-size: 42px;
  line-height: 48px;
  padding-bottom: 8px;
}

.pointWrapper {
  position: absolute;
}

/* Сама точка */
.point {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--accent-color-tramptek);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform-origin: center center;
  z-index: 100;
}

.line {
  position: absolute;
  width: 2px;
  background-color: black;
  opacity: 0;
  transition: 0.2s ease-in-out;
  z-index: 10;
}

.tooltip {
  position: absolute;
  padding: 5px 10px;
  white-space: normal;
  width: 280px;
  font-size: 18px;
  line-height: 24px;
  z-index: 20;
  border-radius: 4px;
  opacity: 0;
  transition: 0.2s ease-in-out;
}

.pointWrapper:hover .point {
  background-color: black;
  transform: scale(0.4);
}

.pointWrapper:hover .tooltip,
.pointWrapper:hover .line {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .materialsContainer h2 {
    padding-bottom: 24px;
    padding-left: 15px;
  }

  .imageWrapper {
    position: unset;
    padding: 0px;
  }

  .cardImage {
    min-height: 240px;
    object-fit: cover;
  }
  .textOverlay {
    position: unset;
    color: var(--primary-default-color);
    padding: 16px;
    width: 100%;
    max-width: fit-content;
    font-size: 16px;
    line-height: 22px;
    background-color: white;
  }

  .textOverlay h3 {
    color: var(--primary-default-color);
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 4px;
  }

  .point {
    width: 24px;
    height: 24px;
  }
  .pointWrapper:hover .point {
    background-color: var(--accent-color-tramptek);
    transform: scale(0.4);
  }

  .pointWrapper:hover .tooltip,
  .pointWrapper:hover .line {
    opacity: 1;
  }

  .line {
    background-color: var(--accent-color-tramptek);
    width: 1px;
  }

  .tooltip {
    color: var(--accent-color-tramptek);
    font-size: 18px;
    width: 200px;
    line-height: 24px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .materialsContainer h2 {
    padding-bottom: 24px;
    padding-left: 15px;
  }

  .cardImage {
    min-height: 600px;
    object-fit: cover;
  }
  .textOverlay {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 60%;
    color: white;
    padding: 15px;
    text-align: left;
    font-size: 18px;
    line-height: 24px;
  }

  .textOverlay h3 {
    font-size: 42px;
    line-height: 48px;
    padding-bottom: 6px;
  }

  .point {
    width: 28px;
    height: 28px;
  }
  .pointWrapper:hover .point {
    transform: scale(0.4);
  }

  .pointWrapper:hover .tooltip,
  .pointWrapper:hover .line {
    opacity: 1;
  }

  .line {
    width: 1px;
    
  }

  .tooltip {
    color: var(--accent-color-tramptek);
    font-size: 16px;
    width: 200px;
    line-height: 22px;
  }
}
