.solutionsWrapper {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin-bottom: 100px;
}

.solutions {
  display: grid;
  gap: 24px;
  grid-template-areas:
    "landscape landscape landscape landscape landscape landscape landscape landscape landscape landscape landscape landscape"
    "tramptek tramptek tramptek tramptek tramptek mini mini mini mini mini mini mini"
    "bloqi bloqi bloqi bloqi bloqi bloqi bloqi playlet playlet playlet playlet playlet"
    "parkfit parkfit parkfit parkfit parkfit towers towers towers towers towers towers towers";
}

.link {
  color: var(--primary-text-color);
  text-decoration: none;
}

.textBlock {
  position: relative;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.solutionsWrapper h3 {
  font-size: 34px;
  line-height: 40px;
}

.textBlock p {
  font-size: 26px;
  line-height: 32px;
  max-width: 360px;
}

.textBlockTitle {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.linkContainer {
  display: flex;
  text-align: center;
  gap: 4px;
}

.landscape:hover .linkContainer,
.tramptek:hover .linkContainer,
.mini:hover .linkContainer,
.parkfit:hover .linkContainer,
.bloqi:hover .linkContainer,
.playlet:hover .linkContainer,
.towers:hover .linkContainer {
  color: var(--accent-color);
  cursor: pointer;
  text-decoration: underline;
}

.linkContainer span {
  font-size: 26px;
  line-height: 32px;
}

.arrow {
  width: 32px;
  height: 32px;
}

.landscape,
.tramptek,
.mini,
.parkfit,
.bloqi,
.playlet,
.towers {
  background-color: var(--bg-default-color);
  display: flex;
  flex-direction: column;
  padding: 32px;
  transition: transform 0.3s ease-in-out;
}

.landscape:hover,
.tramptek:hover,
.mini:hover,
.parkfit:hover,
.bloqi:hover,
.playlet:hover,
.towers:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.landscape {
  grid-area: landscape;
  background-image: url("/assets/images/cover.avif");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
  text-decoration: none;
  color: var(--primary-text-color);
}

.tramptek {
  grid-area: tramptek;
  background-image: url("/assets/images/tramptek.avif");
  background-repeat: no-repeat;
  /* background-position: right center; */
  background-position-x: 80px;
  background-position-y: 40px;
  background-size: 700px;
  text-decoration: none;
  color: var(--primary-text-color);
}

.mini {
  grid-area: mini;
  background-image: url("/assets/images/mini_wrapper.avif");
  background-repeat: no-repeat;
  background-position-x: 200px;
  background-size: cover;
  text-decoration: none;
  color: var(--primary-text-color);
}

.playlet {
  grid-area: playlet;
  background-image: url("/assets/images/playlet.avif");
  background-repeat: no-repeat;
  background-position-x: 190px;
  background-position-y: 160px;
  background-size: contain;
  text-decoration: none;
  color: var(--primary-text-color);
}

.bloqi {
  grid-area: bloqi;
  background-image: url("/assets/images/bloqi-solution/forms.avif");
  background-repeat: no-repeat;
  background-position-x: 160px;
  background-position-y: 70px;
  background-size: cover;
  text-decoration: none;
  color: var(--primary-text-color);
}

.parkfit {
  grid-area: parkfit;
  background-image: url("/assets/images/parkfit_wrapper.avif");
  background-repeat: no-repeat;
  background-position-x: 0px;
  background-position-y: 40px;
  background-size: cover;
  text-decoration: none;
  color: var(--primary-text-color);
}

.towers {
  grid-area: towers;
  background-image: url("/assets/images/towers_wrapper.avif");
  background-repeat: no-repeat;
  background-position-x: 250px;
  background-position-y: 40px;
  background-size: cover;
  text-decoration: none;
  color: var(--primary-text-color);
}

@media screen and (max-width: 728px) {
  .solutions {
    display: grid;
    gap: 16px;
    grid-template-areas:
      "landscape"
      "mini"
      "tramptek"
      "playlet"
      "bloqi"
      "towers"
      "parkfit";
  }

  .solutions section {
    max-height: 280px;
  }

  .solutionsWrapper {
    padding: 0px 16px;
    gap: 24px;
    margin-bottom: 0px;
  }

  .solutionsWrapper h2 {
    font-size: 26px;
    line-height: 32px;
  }

  .solutionsWrapper h3 {
    font-size: 20px;
    line-height: 24px;
  }

  .textBlock {
    min-height: 280px;
  }

  .textBlock p {
    font-size: 18px;
    line-height: 24px;
    max-width: 200px;
  }

  .landscape {
    background-position-x: -10px;
    background-position-y: 120px;
    background-size: 600px;
  }

  .tramptek {
    background-position-x: 10px;
    background-position-y: -60px;
    background-size: 600px;
  }

  .mini {
    background-position-x: 60px;
    background-position-y: 50px;
    background-size: 600px;
  }

  .towers {
    background-position-x: 60px;
    background-position-y: 70px;
    background-size: 500px;
  }

  .parkfit {
    background-position-x: 60px;
    background-position-y: 70px;
    background-size: 500px;
  }

  .playlet {
    background-position-x: 80px;
    background-position-y: 100px;
    background-size: 405px;
  }

  .bloqi {
    background-position-x: 0px;
    background-position-y: 0px;
    background-size: 900px;
  }

  .linkContainer span {
    font-size: 18px;
    line-height: 24px;
  }

  .arrow {
    width: 24px;
    height: 24px;
  }

  .landscape,
  .tramptek,
  .mini,
  .parkfit,
  .bloqi,
  .playlet,
  .towers {
    padding: 16px;
  }

  .textBlockTitle {
    gap: 4px;
  }
}

@media screen and (min-width: 728px) and (max-width: 1024px) {
  .landscape {
    background-position-x: -10px;
    background-position-y: 80px;
    background-size: 1200px;
  }

  .tramptek {
    background-position-x: -100px;
    background-position-y: 0px;
    background-size: 680px;
  }

  .mini {
    background-position-x: 60px;
    background-position-y: 90px;
    background-size: 600px;
  }

  .towers {
    background-position-x: 40px;
    background-position-y: 70px;
    background-size: 800px;
  }

  .parkfit {
    background-position-x: -40px;
    background-position-y: 100px;
    background-size: 500px;
  }

  .playlet {
    background-position-x: 100px;
    background-position-y: 170px;
    background-size: 500px;
  }

  .bloqi {
    background-position-x: 0px;
    background-position-y: 100px;
    background-size: 800px;
  }
}
