@font-face {
  font-family: TT-Norms-Pro;
  src: url("/assets/fonts/TT-Norms-Pro-Normal.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: TT-Norms-Pro;
  src: url("/assets/fonts/TT-Norms-Pro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-display: swap;
}

/* scroll */

* {
  padding: 0;
  margin: 0;
  font-family: TT-Norms-Pro, sans-serif;
}

/* Стилизация скроллбара для Chrome и Chromium-based */
::-webkit-scrollbar {
  width: 2px !important;
  height: 2px !important;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: rgba(102, 102, 102, 0.5) !important;
  border-radius: 30px !important;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(102, 102, 102, 0.8) !important;
}

/* Firefox */
* {
  scrollbar-width: thin !important;
  scrollbar-color: rgba(102, 102, 102, 0.5) transparent !important;
}

/* Safari и Яндекс.Браузер */
*::-webkit-scrollbar {
  -webkit-appearance: none !important;
  width: 2px !important;
  height: 2px !important;
}

*::-webkit-scrollbar-track {
  -webkit-appearance: none !important;
  background: transparent !important;
}

*::-webkit-scrollbar-thumb {
  -webkit-appearance: none !important;
  background: rgba(102, 102, 102, 0.5) !important;
  border-radius: 30px !important;
}

*::-webkit-scrollbar-thumb:hover {
  -webkit-appearance: none !important;
  background: rgba(102, 102, 102, 0.8) !important;
}

/* Дополнительные стили для Safari */
@supports (-webkit-touch-callout: none) {
  *::-webkit-scrollbar {
    width: 2px !important;
    height: 2px !important;
  }

  *::-webkit-scrollbar-thumb {
    background: rgba(102, 102, 102, 0.5) !important;
  }
}

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

:root {
  /* Accent */
  --accent-color: #faabbb;
  --accent-color-tramptek: #e1e051;
  --accent-color-kinetics: #608ccf;
  --accent-color-mini: #ffaecf;
  --accent-color-playlet: #ffcb00;
  --accent-color-bloqi: purple;
  --accent-color-gavpark: #b66bae;
  --accent-color-parkfit: #cdd52a;

  /* Primary */
  --primary-default-color: #191919;
  --primary-hover-color: #404040;
  --primary-text-color: #191919;
  --primary-icons-color: #191919;

  --primary-inverted-text-color: #ffffff;

  /* Secondary */
  --secondary-default-color: #a3a3a3;
  --secondary-hover-color: #8a8a8a;
  --secondary-text-color: #a3a3a3;

  /* Background */
  --bg-default-color: #f8f8f8;
  --bg-hover-color: #e8e8e8;
  --bg-border-color: #ededed;

  /* Success */
  --success-color: #65c466;

  /* Warning */
  --warning-color: #f7ce46;

  /* Danger */
  --danger-color: #eb5545;
  --danger-text-color: #eb5545;
  --danger-bg-color: #fdeae8;
}

h1 {
  font-size: 42px;
  line-height: 48px;
}

h2 {
  font-size: 34px;
  line-height: 40px;
}

h4 {
  color: var(--secondary-text-color);
  font-weight: 100;
  font-size: 16px;
  line-height: 22px;
}

a:hover {
  cursor: pointer;
}

@media screen and (max-width: 728px) {
  h2 {
    font-size: 26px;
    line-height: 32px;
  }
  h1 {
    font-size: 34px;
    line-height: 40px;
  }
}

body {
  /* font-family: TT-Norms-Pro, sans-serif; */
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}
