.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 150px 32px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.title {
  font-size: 18px;
  line-height: 24px;
  color: var(--secondary-default-color);
  padding-bottom: 8px;
  font-weight: 100;
  margin: 0;
}

.text {
  font-size: 26px;
  line-height: 32px;
  color: var(--primary-default-color);
  margin: 0;
}

/* Иконки соцсетей */
.links {
  display: flex;
  gap: 20px;
}
.links a {
  color: var(--primary-default-color);
  display: flex;
  align-items: center;
  font-size: 40px;
}

/* Ссылки в центре со стрелкой */
.linkContainer {
  display: flex;
  align-items: end;
  gap: 8px;
}
.linkContainer a {
  text-decoration: underline;
  color: var(--primary-default-color);
  font-size: 26px;
  line-height: 32px;
}
.arrow {
  width: 32px;
  height: auto;
}

/* Адаптив */
@media screen and (max-width: 728px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 40px;
  }
  .column {
    gap: 40px;
  }
  .links a {
    font-size: 32px;
  }
  .title {
    font-size: 13px;
    line-height: 18px;
  }
  .linkContainer a,
  .text {
    font-size: 16px;
    line-height: 22px;
  }
  .linkContainer {
    gap: 4px;
  }
  .arrow {
    width: 24px;
    height: auto;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}
