.navContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 56px;
}

.navList {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  flex-wrap: wrap;
  max-width: 50%;
}

.navItem {
  transition: color 0.2s;
  cursor: pointer;
  font-size: 18px;
  line-height: 24px;
}

.navItem:hover {
  color: var(--secondary-text-color);
}

.navItem.active {
  font-weight: bold;
}

.mapLinkContainer {
  display: flex;
  align-items: center;
  gap: 12px;
}

@media screen and (max-width: 480px) {
  .navContainer {
    padding: 24px 16px 0px 16px;
  }
  .navList {
    gap: 12px;
  }
  .navItem {
    font-size: 16px;
    line-height: 22px;
  }
}
