@media screen and (min-width: 728px) and (max-width: 1440px) {
  .searchBarContainer {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    z-index: 1000;
  }
}
@media screen and (min-width: 375px) and (max-width: 728px) {
  .searchBarContainer {
    position: relative !important;
  }
}

@media screen and (min-width: 728px) and (max-width: 1024px) {
  .searchBarContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    z-index: 1000;
  }
}
