.searchBarContainer {
  position: relative;
  width: 100%;
  padding: 16px;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

.searchBar {
  background-color: #f5f5f5;
  border-radius: 50px;
  padding: 8px 16px;
  min-width: 300px;
  max-width: 600px;
  display: flex;
  align-items: center;
}

.searchIcon {
  color: #b0b0b0;
  margin-right: 10px;
  font-size: 18px;
}

.searchInput {
  border: none;
  outline: none;
  flex-grow: 1;
  background: transparent !important;
  font-size: 16px;
}

.clearicon {
  color: #b0b0b0;
  cursor: pointer;
}

.searchInput::placeholder {
  color: #b0b0b0;
}

@media screen and (max-width: 728px) {
  .searchBar {
    padding: 6px 12px;
    font-size: 14px;
  }
  .searchIcon {
    font-size: 16px;
  }
  .searchInput {
    font-size: 16px;
  }
}
