.aboutWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px 160px;
  gap: 32px;
  background-image: url("/assets/images/bloqi-solution/red-prints.svg"),
    url("/assets/images/bloqi-solution/red-curve.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
  background-size: auto, auto;
}

.aboutWrapper p {
  font-size: 34px;
  line-height: 40px;
  text-align: center;
}

.highlight {
  color: var(--accent-color-bloqi);
}

.linkWrapper {
  padding-top: 24px;
  display: flex;
  gap: 60px;
  font-size: 26px;
  line-height: 32px;
  justify-content: space-between;
}

.linkContainer {
  text-decoration: underline;
  display: flex;
  gap: 8px;
  transition: 0.1s ease-in-out;
  align-items: center;
}

.linkContainer:hover {
  color: var(--accent-color-bloqi);
}

@media screen and (max-width: 768px) {
  .aboutWrapper {
    padding: 115px 16px;
    gap: 16px;
  }

  .aboutWrapper p {
    font-size: 18px;
    line-height: 24px;
  }

  .linkWrapper {
    padding-top: 28px;
    font-size: 18px;
    line-height: 24px;
    width: 100%;
    justify-content: space-around;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .aboutWrapper {
    padding: 160px 26px;
    gap: 24px;
  }
  .aboutWrapper p {
    font-size: 26px;
    line-height: 32px;
  }
}
