.wrapper {
  margin: 0 auto;
  padding: 32px;
}

.title {
  margin-bottom: 36px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 60px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tick {
  width: 56px;
  height: auto;
  margin-bottom: 24px;
}

.itemTitle {
  font-size: 34px;
  line-height: 40px;
  font-weight: bold;
  margin-bottom: 12px;
}

.text {
  font-size: 26px;
  line-height: 32px;
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 16px;
  }

  .grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }

  .itemTitle {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 4px;
  }

  .text {
    font-size: 16px;
    line-height: 22px;
  }

  .tick {
    width: 32px;
    margin-bottom: 4px;
  }
}
