.wrapper {
  margin: 0 auto;
  padding: 32px;
}

.title {
  margin-bottom: 16px;
}

.description {
  font-size: 26px;
  line-height: 32px;
  max-width: 700px;
  margin-bottom: 32px;
}

.images {
  display: flex;
  align-items: flex-end;
  gap: 60px;
  flex-wrap: wrap;
}

.bag {
  max-width: 250px;
  width: 100%;
  height: auto;
}

.stacks {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.stacks img {
  max-width: 120px;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 16px;
  }
  .title {
    margin-bottom: 4px;
  }

  .description {
    font-size: 16px;
    line-height: 22px;
    max-width: 98%;
  }

  .bag {
    max-width: fit-content;
  }

  .stacks {
    display: none;
  }
}
